
local.properties

/.gradle
/.idea/artifacts/*
/.idea/androidTestResultsUserPreferences.xml
/.idea/kotlinc.xml

/build
/core/build
/dbgenerator/build
/quant/build
/stockcharts/build
/webclients/build

# Secrets
/webclients/secrets
stockcharts/apikey.properties

/history_data
